.a_tbdr{
  border:1px dashed #000;
}
header{
  height: 107px;
  background-color:#9933CC;
  border:1px dashed #000;
}
main{
  min-height: 550px;
  background-color:#FFFFFF;
  border:1px dashed #000;
}
footer{
  height:65px;
  background-color: #0099CC;
}